# Patch NGINX Ingress Controller to use fixed NodePort
# Apply: kubectl apply -f ingress-nodeport-patch.yaml

apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
    nodePort: 30080  # Fixed port cho HTTP
  - name: https
    port: 443
    targetPort: 443
    protocol: TCP
    nodePort: 30443  # Fixed port cho HTTPS
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller
